/* reset button */

#reset {
    position: absolute;
    right: 5rem;
    bottom: 5rem;
}

#back {
    position: absolute;
    left: 5rem;
    top: 5rem;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

a {
    cursor: pointer;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
}

.cell {
    position: relative;
    display: flex;
    height: var(--cell-size);
    width: var(--cell-size);
    border: .9rem solid var(--dark-green);
    font: 400 var(--symbol-size) 'Roboto', sans-serif;
    color: var(--white);
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cell:nth-child(-n + 9) {
    border-top: none;
    border-left: none;
}

.cell:nth-child(n + 7) {
    border-bottom: none;
}

.cell:nth-child(3n +3) {
    border-right: none;
}

.cell.x::after,
.cell.x::before,
.cell.o::before,
.cell.o::after {
    background-color: var(--white);
}

.board.o .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after {
    background-color: var(--hover);
}

.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after,
.cell.x::after,
.cell.x::before {
    position: absolute;
    content: "";
    width: calc(var(--symbol-size) * 0.2);
    height: var(--symbol-size);
}

.board.x .cell:not(.x):not(.o):hover::before,
.cell.x::after {
    transform: rotate(45deg);
}

.board.x .cell:not(.x):not(.o):hover::after,
.cell.x::before {
    transform: rotate(-45deg);
}

.board.o .cell:not(.x):not(.o):hover::before,
.board.o .cell:not(.x):not(.o):hover::after,
.cell.o::after,
.cell.o::before {
    position: absolute;
    content: "";
    width: var(--symbol-size);
    height: var(--symbol-size);
    border-radius: 50%;
}

.board.o .cell:not(.x):not(.o):hover::before,
.cell.o::before {
    width: calc(var(--symbol-size) * 0.9);
    height: calc(var(--symbol-size) * 0.9);
}

.board.o .cell:not(.x):not(.o):hover::after,
.cell.o::after {
    width: calc(var(--symbol-size) * 0.5);
    height: calc(var(--symbol-size) * 0.5);
    background-color: var(--green);
}

.cell.x,
.cell.o {
    cursor: not-allowed;
}