* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --hover: #56b2a7;
    --dark-green: #264653;
    --green: #2a9d8f;
    --white: #f8f9fa;
    --cell-size: 12rem;
    --symbol-size: calc(var(--cell-size) * 0.9);
}

::selection,
::-moz-selection {
    background: transparent;
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--green);
    width: 100vw;
    height: 100vh;
}

#title {
    color: var(--white);
    font-family: 'Permanent Marker', cursive;
    font-size: 8rem;
    font-weight: 700;
}

header {
    display: flex;
    margin: 3rem 0 7rem 0;
}

button {
    appearance: none;
    border: none;
    cursor: pointer;
}

#play {
    position: absolute;
    height: 4.5rem;
    width: 12rem;
    cursor: pointer;
    color: var(--white);
    border: .4rem solid var(--hover);
    background: var(--dark-green);
    font: 700 2rem 'Roboto', sans;
    transition: ease-in-out;
    transform: translateY(190%);
    transition: filter .2s;
    transition: .2s ease-in
}

#play:hover {
    height: 4.7rem;
    width: 12.8rem;
    transition: ease-in-out;
    filter: brightness(1.2);
}

#volume {
    position: absolute;
    top: 5rem;
    right: 5rem;
    cursor: pointer;
}

#volume img {
    width: 3.2rem;
    height: 3.2rem;
}

.menu-modal {
    position: relative;
    visibility: hidden;
    opacity: 0;
}

.menu-modal.active {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    visibility: visible;
    opacity: 1;
    background: rgba(35, 35, 35, 0.9);
}

.menu-modal.active>div {
    margin: 1rem 0 1rem 0;
    padding: 2.5rem;
    background: var(--white);
    text-align: center;
    width: 80%;
    font: 700 2.5rem 'Roboto', sans;
    color: var(--dark-green);
    transition: ease-in .1s;
    cursor: pointer;
}

.menu-modal.active>div:hover {
    border: .5rem solid var(--white);
    background: var(--white);
    color: var(--green);
}

.menu-modal.active span {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--white);
    color: var(--dark-green);
    width: 4.5rem;
    height: 4.5rem;
    border-radius: .7rem;
    font: 700 3.4rem 'Roboto', sans;
    top: 4rem;
    right: 4rem;
    cursor: pointer;
    transition: ease-in .1s;
}

.menu-modal.active span:hover {
    color: var(--green);
    filter: brightness(1.2);
}